
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --main-color:#365897;
    --yellow-color: #ffc400;
    --background-color: rgb(241, 241, 241);
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
a{
    cursor: pointer;
}
/* nav section */
.navbar{
    z-index: 1;
}
.active:hover{
    border-bottom: 1px solid var(--main-color);
}
.navbar .navbar-brand{
    font-family: cursive;
    text-decoration: none;
}
.navbar img{
    width: 38px;
    margin-right: 5px;
}
.navbar ul{
    margin-left: 50px;
}
.navbar ul li{
    font-size: 20px;
    margin-left: 25px;
}
.navbar #drop li{
    margin-left: 0;
}
.navbar #drop li:hover{
    background-color: #365897;
    border-bottom:1px solid #8190ac;
}
.navbar ul li a:hover{
    color: rgb(124, 124, 187);
    
}
.navbar ul li a{
    text-decoration: none;
    color: gray;
    border-bottom: 0px solid blue;
}
.navbar .call-us{
    margin-right: 150px;
    display: flex;
}
.navbar .call-us p{
    margin-left: 15px;
    margin-right: 10px;
    font-size: 18px;
    color: blue;
    margin-top: -5px;
    cursor: pointer;
}
.navbar .call-us p:hover{
    color: #365897;
}
.navbar .call-us span b{
    margin-left: 10px;
}
.Button{
    cursor: pointer;
}
.navbar .active{
    color: #365897;
    font-weight: bold;
    border-bottom: 1px solid #365897;
}
.whats{
    margin-top: 80px;
    background-color: #365897;
    padding: 3rem .5rem;
    display: none;
}
.whats .content{
    display: flex;
    justify-content: space-between;
}
.whats img{
    width: 35px;
}
.whats .content input{
    width: 500px;
    border: none;
    outline: none;
    padding:0 0 5px 5px ;
    border-bottom: 1px solid white;
}
.whats .content input::placeholder{
    color: white;
    padding-bottom: 3px;
}
.whats .qustion a {
    margin-right: 30px;
    border: 1px solid white;
    color: white;
}
.whats .qustion a:hover{
    background-color: white;
    color: #365897;
}
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        .whats .content input{
            width: 300px;
        }
    }
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
        .whats .content{
            display: block;
            margin-left: 0px;
            text-align: center;
        }
        .whats .content input{
            width: 200px;
            margin: 30px 0;
        }
        .whats .logo{
            margin-left: -20px;
        }
        .products .left-side{
            display: none;
        }
    }

    /* start privacy */
    .privacy{
        width: 800px;
        margin-left: 150px;
    }
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        .privacy{
            margin-left: 10px;
            width: 700px;
        }
    }
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
        .privacy{
            margin-left: 10px;
            width: 330px;
        }
    }
    .privacy h1{
        margin-top: 100px;
        font-size: 50px;
    }
    .privacy a{
        text-decoration: none;
    }
    .privacy .one
    ,.two
    ,.three
    ,.four
    ,.five{
        font-size: 16px;
        margin-bottom: 40px;
        line-height: 1.6;
    }

/* footer section */
.footer a{
    text-decoration: none;
    color: gray;
}   
.footer .logo3{
    width: 120px;
    margin-bottom: 40px;
}
.footer .logo{
    margin-left: 50px;
}
.footer .logo p{
    font-size: 16px;
}
.footer .categories{
    margin-top: 40px;
    text-align: start;
    margin-left: 50px;
}
.footer .categories .active{
    margin-bottom: 20px;
}
.footer .categories li{
    margin-bottom: 20px;
}
/* responsive section */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
        .navbar{
            z-index: 3;
        }
        .navbar .call-us{
            display: none;
        }
    }
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        .navbar{
            z-index: 3;
        }
        .navbar .call-us{
            display: none;
        }
    }